html, body {
  height: 100%;
  width: 100%;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  height: 100%;
}

section {
  padding: 2em 0;
}

header, section {
  display: table;
  position: relative;
  width: 100%;
}

header>div, section>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header h1, section h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 5em;
}

header button, section button {
  margin: 1em 0.5em;
  font-size: 1.5em;
}

header p, section p {
  font-size: 2em;
}

a.navbar-brand {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}

.bg1 {
  background: url('/img/bg1.jpg') no-repeat center center scroll;
  background-size: cover;
  color: #fff;
}






